<%- include("partials/header") %>
<div class="ui main text container segment">
  <div class="ui huge header">
    <%= month.date %>
  </div>
  <div class="description">
    <p><%= month.notes %></p>
  </div>
  <a class="ui floated basic yellow button" href="/months/<%=month._id%>/edit">Edit</a>

</div>
