body {
  background-color: pink;
}
.menu {
  /* height: 90vh; */
  margin-right: 300px;
  border: 1px solid black;
}
#test {
  border: 1px solid black;
  /* background-color: purple; */

}
/* Navbar styling */

.container {
  /* border: 3px solid black; */
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
}
.right-side {
  /* border: 1px solid black; */
  margin-top: 20px;
  flex: 2;
  text-align: center;
}


.title {
  border: 1px solid black;
  margin: 70px;
  padding: 10px;
  font-size: 2.5em;
}
.months {
  /* padding: 20px; */
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
}
.month-item {
  border: 1px solid black;
  width: 400px;

  padding: 40px;
}

#delete {
  display: inline;
}
